  body {

        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        
    padding: 0;
    margin: 0;
   
      }
      
  }



.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
  }
  .inpute{
    background-color: #333;
    color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    border-radius: 14px;
  }
  
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
  }
  
  .message, 
  .signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .signin a {
    color: #00bfff;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,
  .form label .input:valid + span {
    color: #00bfff;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .input {
    font-size: medium;
  }
  
  .submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #00bfff;
  }
  
  .submit:hover {
    background-color: #00bfff96;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  #shop-page nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    height: 100%;
    position: sticky;
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
   
  }
  #shop-page nav h1 {
    font-size: 20px;
    color: #fff;
    transition: 0.4s;
  }
  #shop-page nav h1:hover {
   color: rgb(44, 181, 255);
  }
  #shop-page nav i {
    transition: 0.4s;
   }
  #shop-page nav i:hover {
    color: rgb(44, 181, 255);
   }
   #shop-banner{
    background-image: url(about/banner.png);
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;


    
   }
#produit   {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#produit .pro-live  {
  display: flex;
  column-gap: 100px;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
   
}
#inpute2{
  color: #40414f;
}

#produit .pro-container{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}
#produit .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    background-color: gray;
    border: 1px solid  #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02 );
    margin: 15px 0;
    transition: 0.4s ease;
}
#produit .pro:hover {
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06 );
}
#produit .pro:hover {
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06 );
    
  }
  
  
  #produit .pro img {
    
    border-radius: 20px;
  }
  #produit .pro .des h4{
    color: rgb(23, 46, 255);

  }
  #produit .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color:rgb(23, 46, 255) ;
  }
#shop-banner h1 {
    font-size: 50px;

}
button {
    font-family: monospace;
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
  }
  
  button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }
  .Message {
    width: 310px;
    height: 40px;
    border-radius: 10px;
    background-color: #40414f;
    transform: translate(0px,0px);
    box-shadow: 5px 5px #34343f;
  }
  
  .MsgInput {
    font-size: 18px;
    border-radius: 5px;
    background-color: #40414f;
    border: none;
    outline: none;
    width: 250px;
    height: 30px;
    transform: translate(5px,-3px);
    color: white;
    padding: 10px;
    font-weight: bold;
  }
  
  .SendSVG {
    width: 30px;
    height: 30px;
    border-width: 50px;
    transform: translate(20px,5px);
    background-size: 10px;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .SendSVG:hover {
    background-color: #2b2b35;
  }
  
  .l {
    position: absolute;
    width: 1%;
    height: 30px;
    background-color: #2e2f38;
    transform: translate(-20px,5px);
  }
  #ask{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    
  }
  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  footer.logo1{
    padding-bottom: 30px;
  }
  footer h4{
    padding-bottom: 20px;
  }

 footer p {
    margin: 0 0 8px 0;
 }
 footer a {
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
 }
 #prodetails {
    display: flex;
    margin-right: 50px;
   }
   #prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
   }
  .small-img-group {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
  }
  .small-image{
    border-radius: 14px;
  }
  .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
    
  }
  #MainImg {
    padding-bottom: 7px;
  }
  #prodetails .single-pro-details {
    width: 50%;
   
  }
 .para2{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }
 .para{
    text-align: center;
    color: #3b82f6;
  }
  #prodetails .para h1{
    font-size: 50px;
  }
  #prodetails .col-col{
    padding-bottom: 10px;
  }
  #prodetails .single-pro-details select{
    color: #3b82f6;
    background-color:#1a1a1a;
    border: 1px solid #333;
    border-radius: 14px;
    padding: 10px;
   
  }
  .col-col{
    color: #3b82f6;
    background-color:#1a1a1a;
    border: 1px solid #333;
    border-radius: 14px;
    padding: 10px;
  }
  .col-col input {
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 14px;
    padding: 10px;
    width: 30px;
    color: #3b82f6;
  }
  .col-col select {

    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 14px;
    padding: 10px;
    width: 150px;
    color: #3b82f6;
  }
  
  #prodetails .single-pro-details input {
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 14px;
    padding: 10px;
    width: 20px;
    color: #3b82f6;

   
  }
  #prodetails .single-pro-details input::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
    
  }
  #logo {
    border-radius: 20px;

  }
  
  #prodetails .single-pro-details h6{
   font-size: 40px;
  }
  #important {
   padding-top:50px ;
   padding-bottom: 50px;
  }
  .st {
    padding: 20px;
  }
  #outherdiv{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #bg{
    height: 10px;
  }
  .prada{
  height: 120px
 }
 .apropos{
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  
  
  /* Add your background pattern here */
  background-color: #313131;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px
 }
 @media (max-width:799px) {
    #ask {
       display: none;}
    #prodetails{
      display: block;
    }
    #prodetails .single-pro-image {
      padding-left: 25px;
      width: 100%;
      margin-right: 50px;
  }
  #shop-page nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: 100%;
    position: sticky;
   
}
#prodetails .para2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 190px;
 
}

#prodetails .single-pro-details input {
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 14px;
  padding: 10px;
  width: 20px;
  color: #3b82f6;
  text-align: center;
  margin-left: 25px;
}
#prodetails .para h1 {
  padding-left: 100px;
  font-size: 30px;
}

.para {
text-align: center;
margin-right: 100px;
}
.para2 {
  margin-right: 200px;
  row-gap: 10px;
}

form{
  padding: 500px;
  margin-left: 52px;
 
}
.single-pro-image {
 
  margin-top: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
}
#produit .pro img {
  border-radius: 20px;
  width: 100%;

}
    
 }

    
